* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* light */
    background: #f6e0bc;
    /* dark */
    /* background: #091F43; */
    font-family: 'Heebo', sans-serif;
}
.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

.form-weather {
    display: flex;
    align-items: flex-end;
    grid-column-gap: 11px;
    margin-bottom: 30px;
}

.weather-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 209px;
    grid-gap: 35px;
}

.post {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(41, 69, 105, 0.6);
    border-radius: 10px;
}

.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.post-wrapper {
    padding: 15px;
}

.post-name {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #294569;
    margin-bottom: 10px;
}

.post-name-after {
    position: absolute;
    width: 26px;
    height: 17px;
    background: #294569;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 9px;
    color: #FFFFFF;
    left: 108%;
    top: -7px;
}

.post-number {
    display: block;
    width: fit-content;
    position: relative;
    font-weight: 700;
    font-size: 50px;
    line-height: 73px;
    color: #294569;
}

.post-cels {
    font-weight: 500;
    font-size: 29px;
    line-height: 37px;
    color: #294569;
    position: absolute;
    left: 102%;
    top: 8px;
}

.post img {
    width: 40px;
    height: 40px;
    margin-bottom: 13px;
}

.post-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    color: #294569;
}