.myInput {
    width: 157px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #7F8EA1;
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #7F8EA1;
}
.myInput::placeholder {
    color: #7F8EA1;
}