.myButton {
    font-family: 'Heebo';
    width: 120px;
    height: 40px;
    background: #294569;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    outline: none;
    border: none;
    text-transform: uppercase;
}