* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* light */
    background: #f6e0bc;
    /* dark */
    /* background: #091F43; */
}
.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}